* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
  overflow: initial;
  font-family: 'Open Sans';
  color: $off-black;
}

body {
  background-color: $nightshade;
}

dialog {
  margin: auto;
  border: none;
  outline: none;

  &::backdrop {
    background-color: transparentize($off-black, 0.4);
    backdrop-filter: blur(5px);
  }
}

ul,
ol {
  list-style-position: inside;
}
