* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
  overflow-x: hidden;
  overflow-y: initial;
  font-family: 'Open Sans';
  color: $off-black;
  background-color: $nightshade;

  &:has(dialog[open]) {
    overflow: hidden;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }
}

dialog {
  margin: auto;
  border: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
}
