//Layout
$max-width: 1440px;
$header-height: 140px;

//Colors
$nightshade: #39474a;
$atlantis: #306372;
$fresh-salmon: #ff6f59;
$royal-peacock: #30abe1;
$skyan: #6ad2ff;
$beru: #bde5d4;
$off-black: #303030;
$clear-moon: #f9f5eb;
$banana-biscuit: #fddd7a;
$doctor: #f9f9f9;
$error-red: #c62121;
