//Layout
$max-width: 1440px;

//Colors
$nightshade: #39474A;
$atlantis: #306372;
$fresh-salmon: #FF6F59;
$royal-peacock: #30ABE1;
$skyan: #6AD2FF;
$beru: #BDE5D4;
$off-black: #303030;
$clear-moon: #F9F5EB;
$banana-biscuit: #FDDD7A;
$doctor: #F9F9F9;