#kontakt {
  color: $atlantis;

  #ihr_kontakt_zu_uns {
    padding-bottom: 80px;
    padding-top: 20px;

    > .row {
      @include max-width;
      padding: 20px;

      &-1 {
        text-align: center;
      }

      &-2 {
        display: flex;
        gap: 40px;

        > .col {
          flex: 1;

          &-1 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > h4 {
              color: $fresh-salmon;
            }

            > .socials-wrapper {
              display: flex;
              gap: 10px;
              margin: 20px 0px;

              > svg {
                height: 40px;
                width: 40px;
              }
            }

            > .contact-info-wrapper {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              gap: 20px;

              > .label {
                color: $fresh-salmon;
              }
            }
          }
        }
      }

      &-3 {
        display: flex;
        gap: 40px;

        > .col {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex: 1;

          > .label {
            color: $fresh-salmon;
          }

          &-1 {
            > .geschaeftzeiten-wrapper {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              gap: 20px;
            }
          }
        }
      }
    }
  }

  #map {
    height: 600px;
    width: 100%;

    .row {
      height: 100%;
    }
  }
}
