.button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: $fresh-salmon;
  font-family: inherit;
  font-size: 1rem;
  padding: 0px 35px;
  color: white;
  cursor: pointer;
}