.button {
  @include transition($duration: 0.2s);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: $fresh-salmon;
  font-family: inherit;
  font-size: 1rem;
  padding: 0px 35px;
  color: white;
  outline: none;
  cursor: pointer;

  &[disabled] {
    filter: opacity(0.6);
    cursor: default;
  }

  &:hover:not([disabled]) {
    background-color: white;
    border: 1px solid $fresh-salmon;
    color: $fresh-salmon;
  }

  &.bordered {
    border: 1px solid white;
  }

  &.transparent-button {
    background-color: transparent;
    color: white;

    &:hover:not([disabled]) {
      background-color: white;
      color: $off-black;
    }
  }

  &.white-button {
    background-color: white;
    color: $off-black;

    &:hover:not([disabled]) {
      background-color: transparent;
      border: 1px solid white;
      color: white !important;
    }

    &.bordered {
      border: 1px solid $off-black;

      &:hover:not([disabled]) {
        border: 1px solid $fresh-salmon;
        color: $fresh-salmon !important;
      }
    }
  }

  &.small-button {
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
  }
}
