.checkbox {
  > input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    cursor: pointer;

    &:checked {
      accent-color: $atlantis;
    }

    &[disabled] {
      cursor: default;
    }
  }

  > p {
    display: inline;
    font-family: 'Archivo';
    font-weight: 100;
    vertical-align: middle;
    margin-left: 5px;
  }
}
