.file-input {
  > label {
    font-weight: bold;

    > .input-wrapper {
      margin-top: 5px;

      > svg {
        vertical-align: middle;
      }

      > p {
        display: inline;
        font-family: 'Archivo';
        font-weight: 100;
        font-style: italic;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        vertical-align: middle;
        margin-left: 5px;
        cursor: pointer;
      }

      > input {
        display: none;
      }

      &.disabled {
        > p {
          cursor: default;
          opacity: 0.6;
        }
      }
    }
  }

  > .error-text {
    margin-left: 25px;
    min-height: 16.5px;
    color: $error-red;
  }

  &.error {
    > label {
      color: $error-red;

      > .input-wrapper {
        > svg {
          > path {
            fill: $error-red;
          }
        }

        > input {
          border-bottom: 1px solid transparentize($error-red, 0.4);
        }
      }
    }
  }
}
