.text-area {
  > label {
    font-weight: bold;

    > textarea {
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      border: 1px solid transparentize($atlantis, 0.4);
      background-color: transparentize($atlantis, 0.95);
      outline: none;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 300;
      color: $off-black;
      resize: none;

      &[disabled] {
        background-color: transparentize($atlantis, 0.95);
        opacity: 0.6;
      }

      &:focus-visible {
        border: 1px solid $atlantis;
      }
    }
  }

  > .error-text {
    min-height: 16.5px;
    margin-top: 2px;
    color: $error-red;
  }

  &.error {
    > label {
      color: $error-red;

      > textarea {
        border: 1px solid transparentize($error-red, 0.4);
      }
    }
  }
}
